
<div class="users-all-label">
<h1>Users:<h1>
</div>

<div class="users-all">
<% @users.each do |u|%>
<table>
        <tr>
            
            <th>Name:</th>
            <th>Email:</th>
            <th>User Id:</th>
            <th>Employment Status:</th>
        </tr>
        <tr>
        
        <td><a href="/users/<%= u.id %>"><%=u.name%></a></td>
        <td><%=u.email%></td>
        <td><%=u.id%></td>
        <td><%=u.employee%></td>
        
        </tr>
    </table>

<% end %>
</div>