<h1>users/enquiries/index page !!!<h1>
<br>

<% @enquiry.each do |e|%>
    <% @customer = Customer.find_by_id(e.customer_id) %>
    <p><h2><%=@customer.name%><h2><br>
            <%=@customer.address%><br>
            <%=@customer.email%></p>
    <p><%=e.enquiry%><br>
        assigned to employee:<%=e.user_id%>
    </p>
            
<% end %>